# build output
dist/

# dependencies
node_modules/
**/node_modules/

**/.next/

.env.local
.env.production
.env.staging

**/.env.local
**/.env.production
**/.env.staging

**/sqlite.db
**/sqlite.db-shm
**/sqlite.db-wal
**/sqlite.db-journal
**/db.json
**/docs
**/trpc
